@model JAWS.Models.Termin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Termin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacijentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacijentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrijemeTermina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrijemeTermina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZauzetostTermina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZauzetostTermina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObrazlozenjeTermina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObrazlozenjeTermina)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TerminId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
