@model IEnumerable<JAWS.Models.Termin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PacijentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijemeTermina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZauzetostTermina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObrazlozenjeTermina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PacijentId)
            </td>
            <td>
                @item.VrijemeTermina
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZauzetostTermina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObrazlozenjeTermina)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TerminId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TerminId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TerminId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
