@model JAWS.Models.Cjenovnik

@{
    ViewData["Title"] = "Index";
}

<h1>Cjenovnik</h1>

<p>
    <a asp-action="Create">Dodaj novu uslugu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CjenovnikLista.First().Naziv) </th>
            <th>@Html.DisplayNameFor(model => model.CjenovnikLista.First().Cijena) </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CjenovnikLista  ) {
        <tr>
            <td>
                @item.Naziv
            </td>
            <td>
                @item.Cijena
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
