@model JAWS.Models.StomatoloskaUsluga

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StomatoloskaUsluga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumPruzanjaUsluga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumPruzanjaUsluga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oboljenje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oboljenje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RtgSnimak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RtgSnimak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Napomene)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Napomene)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpisUsluge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpisUsluge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IzvjestajTerapije)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IzvjestajTerapije)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KartonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KartonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KnjigaProtokolaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KnjigaProtokolaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
