@model IEnumerable<JAWS.Models.StomatoloskaUsluga>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatumPruzanjaUsluga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oboljenje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RtgSnimak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Napomene)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpisUsluge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IzvjestajTerapije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KartonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KnjigaProtokolaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatumPruzanjaUsluga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oboljenje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RtgSnimak)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Napomene)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpisUsluge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IzvjestajTerapije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KartonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KnjigaProtokolaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
