@model IEnumerable<JAWS.Models.StomatoloskiKarton>


<h2>Kartoni</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PacijentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumOtvaranjaKartona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PosjedovanjeLoyalKartice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PacijentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumOtvaranjaKartona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosjedovanjeLoyalKartice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
